//- header

div.container
	h4 Nina Sae Heng
	.header
		.header-left
			.head
				h5 About
				.line
			//- do i need header-info
			.header-info
				p Nina Sae Heng is a recent graduate in Bachelor of Design, majoring in Web Design. As a front-end web designer/developer and a lover of design.

				p Currently looking for full-time work in the Industry.
				p Currently working @ Your Solar Quotes as a Web Designer/Developer
		.index-divider
		.header-right
			.head
				h5 Contact
				.line
			.header-contact
				.column
					p Email:
					a(href="mailto:ninasaeheng@hotmail.com") 
						p ninasaeheng@hotmail.com

					p Phone:
					a(href="tel:0433599566") 
						p 0433 599 566

				.column
					p Github:
					a(href="") 
						p /ninasaeheng

					p Twitter:
					a(href="") 
						p @NinaSaeheng

	.content
		.head
				h5 Web Work
				.line
		.web-work
			.aneyeforstyle
			.nathanspring 
			.romana
			.avecamour

